.card {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 5px;
    align-items: center;
    padding: var(--spacing-2-8) var(--spacing-2-8) 0;
    margin: var(--spacing-1-2);
    gap: var(--spacing-1);
    /* background-image: url("../media/rick-and-morty-pictures-vbopwce4a99vn8sf.jpg"); */
    /* la imagen depende de la paleta, esa sirve de ejemplo */
    background-size: contain;
}

.card>img {
    position: absolute;
}

.card--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-1);
}

.card--description>h2 {
    font-size: var(--font-h2);
    color: black;
}

.card--description>h3 {
    font-size: var(--font-h3);
    color: red;
}

.card--description>p {
    font-size: var(--font-p);
}

.card--info {
    display: flex;
}

.card--info>button {
    padding: 0 var(--spacing-1-8) 0 var(--spacing-1-8);
}